<%= javascript "processing/processing" %>

<h1>Labyrinth</h1>
<p>
  <input type="button" data-role="generate" value="Generate" />
  <input type="button" data-role="solve" value="Solve" />
  <input type="button" data-role="toggle_ellipses" value="Toggle Ellipse Solutions" />
</p>
<p><canvas data-role="labyrinth"></canvas></p>

<script type="text/javascript">
  var labyrinth,
      renderer,
      resolver;
</script>
<%= content_for :dom_ready do %>
  labyrinth = new Labyrinth(50, 50);
  renderer = new RenderLabyrinth({
    labyrinth: labyrinth
  });
  renderer.render();
  resolver = new Resolver({
    labyrinth: labyrinth,
    solution: renderer.solution()
  });
<% end %>
