---
title: Labyrinth!
---

.row
  .large-12.columns
    %h1 Labyrinth

.row
  .large-9.columns
    %div{ data: { role: "renderer" } }

  .large-3.medium-4.columns
    .hide-for-small
      .sidebar
        %nav
          %ul.stack.button-group
            %li
              %a.small.radius.button{ data: { role: "generate" } }
                Generate

            %li
              %a.small.radius.button{ data: { role: "solve" } }
                Solve

            %li
              %a.small.radius.button{ data: { role: "toggle_ellipses" } }
                Toggle Ellipses

    %h1 &nbsp;

    %canvas{ data: { role: "labyrinth" } }
